<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:insert="~{include :: header('customer messages列表')}" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>customer name：</label>
                                <input type="text" name="custName"/>
                            </li>
                            <li>
                                <label>customer email：</label>
                                <input type="text" name="email"/>
                            </li>
                            <li>
                                <label>customer phone：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>message subject：</label>
                                <input type="text" name="subject"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zhglxt-cms:message:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="zhglxt-cms:message:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zhglxt-cms:message:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zhglxt-cms:message:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:insert="~{include :: footer}" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zhglxt-cms:message:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zhglxt-cms:message:remove')}]];
        var prefix = ctx + "zhglxt-cms/message";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "customer messages",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'customer message key',
                    visible: false
                },
                {
                    field: 'custName',
                    title: 'customer name'
                },
                {
                    field: 'email',
                    title: 'customer email'
                },
                {
                    field: 'phone',
                    title: 'customer phone'
                },
                {
                    field: 'subject',
                    title: 'message subject'
                },
                {
                    field: 'messages',
                    title: 'customer messages'
                },
                {
                    field: 'createBy',
                    title: 'create by'
                },
                {
                    field: 'createTime',
                    title: 'create time'
                },
                {
                    field: 'updateBy',
                    title: 'update by'
                },
                {
                    field: 'updateTime',
                    title: 'update time'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>